<!doctype html>
<html lang="en">
<head>
    <title>Marvel</title>
    <link rel="stylesheet" href="../static/css/style.css" >
    <link rel="icon" type="image/x-icon" href="../static/images/bb.jpg">
</head>   
<body>
    <div class="titolo">
        <img src="../static/images/aa.jpg" alt="Logo" width="400">
    </div>
    {% for item in personaggi %}
        <div class="linea">
            <div class="nome">
                {{ item[0] }}
            </div>
            <div class="dati">
                Identità: {{ item[1] }}
            </div>
            <div class="dati">
                Prima apparizione: {{ item[9] }}
            </div>
            <div class="foto">
                <img src="../static/images/{{ item[12] }}.jpg" alt="{{ item[12] }}" width="200">
            </div>
            <div class="dati2">
                {{ item[11] }}
            </div>
        </div>
    {% endfor %}
</body>
</html>






