.titolo {
    transform: scale(1.2);
    display: flex;
    justify-content: center;
}

.nome {
    font-size: 35px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

.foto {
    display: flex;
    justify-content: center;
}
.dati {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    display: flex;
    justify-content: left;
}
.linea {
    border-bottom: 4px solid red;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.dati2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    display:flex;
    justify-content: right;
    border: 2px solid black;
    padding: 10px;
}